In [40]:
import sqlite3
conn=sqlite3.connect('count.db')
cur=conn.cursor()
cur.execute("DROP TABLE IF EXISTS COUNT")
cur.execute("CREATE TABLE COUNT (NAME TEXT,GRADE INT)")
fh=open("count.txt")
for line in fh:
    if line.startswith("From"):
        p=line.split()
        first_name=p[1]
        sur_name=p[2]
        full_name=first_name+' '+sur_name
        grade=p[3]
        cur.execute("SELECT GRADE FROM COUNT WHERE NAME=?",(full_name,))
        row=cur.fetchone()
        if grade=='A':
            cur.execute("INSERT INTO COUNT VALUES (?,5)",(full_name,))
        elif grade=='B':
             cur.execute("INSERT INTO COUNT VALUES (?,3)",(full_name,))
        elif grade=='C':
             cur.execute("INSERT INTO COUNT VALUES (?,1)",(full_name,))
        else:        
             cur.execute("UPDATE COUNT SET GRADE=GRADE+1 WHERE name=?",(full_name))
conn.commit()

In [49]:
import sqlite3
conn=sqlite3.connect('count.db')
cur=conn.cursor()
cur.execute("SELECT * FROM COUNT")
print(cur.fetchall())
conn.commit()

[('Ronald Mayr:', 5), ('Bell Kassulke:', 3), ('Jacqueline Rupp:', 5), ('Alexander Zeller:', 1), ('Valentina Denk:', 1), ('Simon Loidl:', 3), ('Elias Jovanovic:', 3), ('Stefanie Weninger:', 5), ('Fabian Peer:', 1), ('Hakim Botros:', 3), ('Emilie Lorentsen:', 3), ('Herman Karlsen:', 1), ('Nathalie Delacruz:', 1), ('Casey Hartman:', 1), ('Lily Walker:', 5), ('Gerard Wang:', 1), ('Tony Mcdowell:', 1), ('Jake Wood:', 3), ('Fatemeh Akhtar:', 3), ('Kim Weston:', 3), ('Nicholas Beatty:', 5), ('Kirsten Williams:', 1), ('Vaishali Surana:', 1), ('Coby Mccormack:', 1), ('Yasmin Dar:', 3), ('Romy Donnelly:', 5), ('Viswamitra Upandhye:', 3), ('Kendrick Hilpert:', 5), ('Killian Kaufman:', 3), ('Elwood Page:', 3)]